#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.workspace {
  display: flex;
  gap: 50px;
}
.qr-code {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-code canvas {
  box-shadow: 0 0 20px gray;
}

.qr-code p {
  margin-top: 30px;
  padding: 2px 30px 2px 30px;
  border-radius: 10px;
  background-color: rgb(150, 150, 150);
  text-align: center;
}

footer {
  color: rgb(66, 66, 66);
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
