#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.workspace {
  margin-top: 60px;
  display: flex;
  place-items: center;
  gap: 50px;
}
.qr-code {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-code canvas {
  box-shadow: 0 0 20px gray;
}

.qr-code .info {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: rgb(137, 221, 255);
  text-align: center;
  gap: 10px;
}

.footer {
  position: absolute;
  bottom: 20px;
  color: rgb(66, 66, 66);

  height: 2.5rem;
}
